Fluxo_Integração_Node_Red.json
[
    {
        "id": "adc5cd606e41895f",
        "type": "telegram sender",
        "z": "0dad50bced3eb120",
        "name": "",
        "bot": "ddb1e680c6eed018",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1130,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "090c185026727c85",
        "type": "function",
        "z": "0dad50bced3eb120",
        "name": "Save context te3xto",
        "func": "msg.telegram=msg.payload;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "db933203f5662253"
            ]
        ]
    },
    {
        "id": "c599680a111a8449",
        "type": "http request",
        "z": "0dad50bced3eb120",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "0fa9f0feb0005677"
            ]
        ]
    },
    {
        "id": "0fa9f0feb0005677",
        "type": "watson-speech-to-text",
        "z": "0dad50bced3eb120",
        "name": "",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "ci6sdwX5areDFWokZiSw0FIANjA_I5BC7OqUWhyvVeKT",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/6409a72b-8ee6-4922-806e-ae3bc54c3a50",
        "x": 620,
        "y": 220,
        "wires": [
            [
                "db933203f5662253"
            ]
        ]
    },
    {
        "id": "1ca18a4c756453d2",
        "type": "function",
        "z": "0dad50bced3eb120",
        "name": "audio",
        "func": "msg.telegram = msg.payload;\nmsg.url = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "c599680a111a8449"
            ]
        ]
    },
    {
        "id": "db933203f5662253",
        "type": "watson-conversation-v1",
        "z": "0dad50bced3eb120",
        "name": "Agente SalesForce",
        "workspaceid": "62e2b740-da1c-4cb7-8b2b-27fee64dd1be",
        "multiuser": false,
        "context": true,
        "empty-payload": true,
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/7324178e-830f-4ccf-89b8-49a36d59d633",
        "timeout": "",
        "optout-learning": false,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "e5d05bd8a626d00b"
            ]
        ]
    },
    {
        "id": "e5d05bd8a626d00b",
        "type": "function",
        "z": "0dad50bced3eb120",
        "name": "Pega resposta",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nif(msg.telegram.type == \"message\"){\nreturn [msg,null]}\nelse{return [null,msg]}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 120,
        "wires": [
            [
                "0b57f9fac2707e4c"
            ],
            [
                "4018eadc2938b658"
            ]
        ]
    },
    {
        "id": "4018eadc2938b658",
        "type": "watson-text-to-speech",
        "z": "0dad50bced3eb120",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "DEUXwwXAST-olgJ0UHcqRpcoWJXdxFCyTDiRyrjpzjsV",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/22cae1f0-a8d1-4a4f-a6e3-bf64707ba613",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "0b57f9fac2707e4c"
            ]
        ]
    },
    {
        "id": "952904576ba3b54d",
        "type": "telegram receiver",
        "z": "0dad50bced3eb120",
        "name": "",
        "bot": "ddb1e680c6eed018",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "95d11cf6ce9360a7"
            ],
            []
        ]
    },
    {
        "id": "0b57f9fac2707e4c",
        "type": "change",
        "z": "0dad50bced3eb120",
        "name": "Restaura estado",
        "rules": [
            {
                "t": "set",
                "p": "telegram.content",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "telegram",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 120,
        "wires": [
            [
                "adc5cd606e41895f"
            ]
        ]
    },
    {
        "id": "95d11cf6ce9360a7",
        "type": "switch",
        "z": "0dad50bced3eb120",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "090c185026727c85"
            ],
            [
                "1ca18a4c756453d2"
            ]
        ]
    },
    {
        "id": "ddb1e680c6eed018",
        "type": "telegram bot",
        "botname": "SalesForce_Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]